h1 { color: khaki }

h2 { color: green }

h3 { color: gold }

h4 { color: blue }

h6 { color: blue;
display: flex;
margin: auto;
}

button{
vertical-align: middle;
background: aqua;
}

.input-area button {
background-color: aqua;
}

.btn{
height:2em;
width:10em;
}
